@font-face {
font-family: neue ;
    src: url(./NeueHaasDisplayMediu.ttf);
}
@font-face {
font-family: neue ;
font-weight: 200;
    src: url(./NeueHaasDisplayLight.ttf);
}
@font-face {
font-family: neue ;
font-weight: 50;
    src: url(./NeueHaasDisplayLight.ttf);
}



*{
font-family: 'Poppins', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: neue;
}

html, body{
height: 100%;
width: 100%;
/* overflow-x: hidden; */
}

#main{
    /* background-color: black; */
    position: relative;
    z-index: 10;
    overflow-x: hidden;
}

#page1{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 2vw;
}

nav{
    width: 100%;
    padding: 2vw 2vw;
    /* background-color: rgb(163, 89, 36); */
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 100;
}

#nav-part2{
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 1vw;

}

#nav-part2 h4{
    padding: 10px 20px;
    border: 1px solid #1c1b1b27;
    border-radius: 50px;
    font-weight: 500;
    font-size: 18px;
    position: relative;
    color: rgb(19, 19, 19);
    transition: all ease 0.3s;
    overflow: hidden;

}

#nav-part2 h4::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50% ;
    transition: all ease 0.3s;
}

#nav-part2 h4:hover::after{

    bottom: 0;
    border-radius: 0;
}


#nav-part2 h4 a{
    text-decoration: none;
    color: #000000bb;
    position: relative;
    z-index: 9;
}

#nav-part2 h4:hover a{
    color: #EFEAE3;

}

nav h3 {
    display: none;
}

#center{
    height: 65vh;
    width: 100%;
    /* background-color: orange; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #00000021;
}

#center h3{
    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;
    padding-bottom: 3vw;

}

#center h1{
    font-size: 10vw;
    line-height: 8.5vw;
    text-align: right;
}

#page1 video{
    position: relative;
    width: 100%;
    margin-top: 5vw;
    border-radius: 20px;
}

#hero-shape{
    position: absolute;
    width: 42vw;
    height: 36vw;
    right: 0;
    top: 75vh;
    /* filter: blur(20px); */
}

#hero1{
    background: linear-gradient(#fe4d14,#fe8514);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    height: 100%;
    width: 100%;
    filter: blur(20px);
    position: absolute;
    animation-name: anime3;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;


}
#hero2{
    background: linear-gradient(#fe4d14,#fe8514);
    border-radius: 50%;
    /* border-bottom-left-radius: 50%; */
    height: 30vw;
    width: 30vw;
    filter: blur(20px);
    position: absolute;
    animation-name: anime3;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;



}
#hero3{
    background: linear-gradient(#fe4d14,#fe8514);
    border-radius: 50%;
    /* border-bottom-left-radius: 50%; */
    height: 30vw;
    width: 30vw;
    filter: blur(20px);
    position: absolute;
    animation-name: anime3;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;


}

@keyframes anime3{
    from{
        transform: translate(55%, -3%);
    }
    to{
        transform: translate(0, 10%);
    }
}
@keyframes anime2{
    from{
        transform: translate(5%, -5%);
    }
    to{
        transform: translate(-20, 30%);
    }
}


#page2{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 8vw 0;
    position: relative;
}

#moving-text{
    white-space: nowrap;
    overflow-x: auto;
}

#moving-text::-webkit-scrollbar{
    display: none;
}

.con{
    /* background-color: aqua; */
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


#moving-text h1{
    /* background-color: aqua; */
    font-size: 9vw;
    display: inline-block;
    
}

#gola{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #fe4d14;
    display: inline-block;
    margin: 1vw 2vw;

}

@keyframes move{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#page2-bottom{
    height: 80vh;
    width: 100%;
    /* background-color: rgb(82, 168, 211); */
    padding: 4vw 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

#page2-bottom h1{
    font-size: 4.2vw;
    width: 60%;
    line-height: 4vw;
    position: relative;
    z-index: 9;
}

#bottom-part2{
    width: 25%;
    padding-top: 15vw;
    padding-right: 2vw;
}

#bottom-part2 img{
    width: 100%;
    border-radius: 10px;
}

#bottom-part2 p{
    font-weight: 200;
    margin-top: 2vw;
}

#gola2{
    height: 35vw;
    width: 35vw;
    background: linear-gradient(to top right,#fe4d14,#fe8514);
    border-radius: 50%;
    filter: blur(30px);
    top: 40%;
    left: 15%;
    position: absolute;
    animation-name: gola2;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    /* z-index: 9; */
}

@keyframes gola2 {
    from{
        transform: translate(10%, -10%) skew(0);
    }
    to{
        transform: translate(-10%, 10%) skew(10deg);
    }
    
}
    
#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 4vw 0;
}

.elem{
    position: relative;
    height: 100px;
    width: 100%;
    /* background-color: #fe8514; */
    /* border-top: 1px solid #000000bb; */
    border-bottom: 1px solid #000000bb;
    display: flex;
    align-items: center;
    padding: 0 2vw;
    overflow: hidden;
}

.elem h2{
    font-size: 4vw;
    position: relative;
    z-index: 9;

}

.elem .overlay{
    height: 100%;
    width: 100%;
    background-color: #fe9514;
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.25s;

}

.elem:hover .overlay{
    top: 0;
}

#fixed-image {
    height: 30vw;
    width: 24vw;
    border-radius: 15px;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 25%;
    display: none;
    background-size: cover;
    background-position: center;
    /* background-color: aqua; */
}

#page4{
    min-height: 70vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 10vw 2vw;

}

.swiper {
    width: 100%;
    height: 35vh;
    margin-left: 0;
    /* margin-left: -25vw; */
    /* align-items: flex-start;  */
    
  }

  .swiper-slide {
      /* align-items: center; */
    text-align: left;
    font-size: 14px;
    font-weight: 50;
    line-height: 3.5vh;
    width: 10%;
    border-left: 1px solid #0000003a;
    padding-left: 2vw;
    padding-top: 1vw;
    width: 35vw;
    /* background: #fff; */
    /* display: flex;
    justify-content: center;*/
  }

  .swiper-slide p{
    padding-top: 2vw;
  }


#page5{
    height: 100vh;
    width: 100%;
    /* background-color: #EFEAE3; */
}

#footer{
    position: fixed;
    height: 100vh;
    width: 100%;
    bottom: 0;
    z-index: 9;
    color: white;
    background-color: black;
    display: flex;
    /* align-items: flex-end; */
    justify-content: flex-end;
    flex-direction: column;
    /* padding-top: 25vw; */
    padding: 1vw 3vw;
}

#footer h1{
    font-size: 23vw;
    z-index: 9;
    

}

#footer-div{
    height: 20vh;
    width: 100%;
    /* background-color: #fe4d14; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

#left-part{
    padding: 15vw 5vw;
    font-weight: 500;
    font-size: 2.5vw;
    display:flex;
    flex-direction: column;
    align-items: left;
    line-height: 3vh;
    z-index: 9;
    /* position: absolute; */
    /* justify-content: sp; */
       
        
    
}

#right-part{
    font-weight: 100;
    font-size: 14px;
    font-size: 1.5vw;
    padding: 15vw 8vw;
    z-index: 9;


}

#animation1{
    background: #fe4d14;
    /* border-top-left-radius: 50%; */
    /* border-bottom-left-radius: 50%; */
    height: 50vh;
    width: 100%;
    filter: blur(20px);
    position: absolute;
    animation-name: animation1;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;


}

#animation2{
    height: 35vw;
    width: 35vw;
    background: #fe4d14;
    border-radius: 30%;
    filter: blur(30px);
    /* top: 1%; */
    /* left: 5%; */
    position: absolute;
    animation-name: animation2;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    /* z-index: 9; */
}
#animation3{
    height: 35vw;
    width: 35vw;
    background: #fe4d14;
    /* border-radius: 30%; */
    filter: blur(30px);
    /* top: 1%; */
    right: 0;
    position: absolute;
    animation-name: animation3;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    /* z-index: 9; */
}

@keyframes animation2 {
    from{
        transform: translate(10%, 10%);
    }
    to{
        transform: translate(-10, -10%) ;
    }
    
}
@keyframes animation3 {
    from{
        transform: translate(10%, 10%)skew(0);
    }
    to{
        transform: translate(-10, -10%)skew(60deg) ;
    }
    
}

@keyframes animation1{
    from{
        transform: translate(35%, -20%) skew(0);
    }
    to{
        transform: translate(-25%, 20%) skew(70deg);
    }
}



#footer-bottom{
    border-top: 1px solid #dadada;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 11px;
    font-weight: 50;

}

#full-scr {
    height: 100vh;
    width: 100%;
    background-color: #00000070;
    position: fixed;
    z-index: 99;
    top: -100%;
    transition: all ease 0.5s;
}

#full-div1 {
    height: 50%;
    width: 100%;
    background-color: #EFEAE3;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}


/* For Responsive */

@media (max-width:600px) {

    #page1 {
        min-height: 100vh;
        width: 100vw;
        padding: 0 0vw;
    }

    nav {
        padding: 8vw 5vw;
        background-color: #EFEAE3;
    }

    nav img {
        transition: all ease 0.2s;
        height: 9vh;
    }

    #nav-part2 {
        display: none;
    }

    nav h3 {
        display: block;
        padding: 3vw 5vw;
        border: 1px solid #ababab;
        border-radius: 50px;
        font-size: 4vw;
        font-weight: 200;
        padding-left: 10vw;
    }

    #center {
        height: 62vh;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        border-bottom: 1px solid #0000003c;
        padding: 7vw 5vw;
        padding-bottom: 10vw;
        flex-direction: column-reverse;
        position: relative;
        z-index: 9;
    }

    #left h3 {
        width: 80%;
        font-size: 5.5vw;
        line-height: 6vw;
    }

    #center h1 {
        font-size: 17vw;
        text-align: right;
        line-height: 15vw;
    }

    #page1 video {
        position: relative;
        border-radius: 15px;
        margin-top: 4vw;
        height: 70vh;
        object-fit: cover;
        object-position: center;
        width: 92%;
        margin-left: 4%;
    }

    #page2 {
        min-height: 100vh;
        width: 100%;
        background-color: #EFEAE3;
        padding: 8vw 0;
        position: relative;
    }

    #moving-text {
        overflow-x: auto;
        white-space: nowrap;
    }

    #moving-text::-webkit-scrollbar {
        display: none;
    }

    .con {
        white-space: nowrap;
        display: inline-block;
        animation-name: move;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    #moving-text h1 {
        font-size: 15vw;
        display: inline-block;
    }

    #gola {
        height: 25px;
        width: 25px;
        border-radius: 50%;
        display: inline-block;
        background-color: #FE320A;
        margin: 2vw 2vw;
    }

    #page2-bottom {
        height: 90vh;
        width: 100%;
        padding: 10vw 4vw;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        flex-direction: column;
        z-index: 9;
    }

    #page2-bottom h1 {
        font-size: 8.2vw;
        width: 100%;
        line-height: 9vw;
    }

    #bottom-part2 {
        width: 70%;
    }

    #bottom-part2 img {
        width: 100%;
        border-radius: 10px;
    }

    #bottom-part2 p {
        font-weight: 200;
        margin-top: 2vw;
        font-size: 3vw;
    }

    #page2 #gooey {
        height: 62vw;
        width: 62vw;
        position: absolute;
        border-radius: 50%;
        background: linear-gradient(to top right, #ff2d03, #ff5c0b);
        top: 58%;
        left: 25%;
        filter: blur(20px);
        animation-name: gooey;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;

    }


}

#loader{
    height: 100%;
    width: 100%;
    background-color: #000;
    position: fixed;
    z-index: 999;
    top: 0;
    transition: all ease 0.7s;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 1s ease;
}

#loader h1{
    font-size: 4vw;
    color: transparent;
    background: linear-gradient(to right,orange,orangered);
    -webkit-background-clip: text;
    position: absolute;
    opacity: 0;
    animation-name: load;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
}
#loader h1:nth-child(2){
    animation-delay: 2s;
}
#loader h1:nth-child(3){
    animation-delay: 3s;
}

@keyframes load {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@media (max-width:600px) {
    #loader h1{
        font-size: 9vw;
      
    }
} 